img {
    width: 50%;
    height: 70%;
    margin-left: 30px;
}

h1 {
    margin-left: 5.5%;
}

#info {
  
    margin-right: 27%;
    font-size: 24px;
}


ul {
   background-color: black;
   padding: 20px;
    
}

nav li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 50px;
    padding-bottom: 25px;
    position: relative;
    background-color: white;
    width: 100%;
}

#logos {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 80px;
}
.media-body {
    
    margin-top: 30px;
}

body {
    background-color: rgb(151, 175, 212);
}

section {
 
    margin-top: 5%;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

#hobbies {
    width: 49%;
    height: 20%;
    padding: 1%;
}

#master {
    background-color: white;
    width: 1180px;
    height: 620px;
    margin-left: 40px;
    padding-top: 20px;
}



@media screen and (max-width: 414px) {

    img {
        width: 50%;
        height: 70%;
        margin-left: 30px;
    }
    
    #info {
  
        margin-right: 5%;
        margin-left: 10px;
        font-size: 12px;
        padding: 20px;
    }

    #master {
        background-color: white;
        width: 414px;
        height: 736px;
        margin-left: 0px;
        margin-top: 24px;
        
       
    }

    h1 {
        margin-left: 7%;
    }

    ul {
        background-color: rgb(151, 175, 212);;
        width: 100%;
        text-align: center;
        padding: 0px;
    
     }

     body{
         background-color: rgb(151, 175, 212);
     }

     #logos {
        width: 80px;
        height: 80px;
        margin-top: 20px;
    }
    .media-body {
        font-size: 16px;
        margin-top: 20px;
    }
    h5 {
        font-size: 24px;
    }
}