#projects{
    opacity: .8;
    width: 300px;
    height: 200px;
    /* margin-left: 25%; */
}
#projects:hover{
    opacity: 1;
    transition: .3s;
    width: 320px;
    height: 220px;
    margin-left: -3%;
    /* margin-left: 25%; */
}
.section {
    padding-left: 5%;
}

@media screen and (max-width: 930px) {

    #projects{
        width: 170px;
        height: 120px;
        margin-left: 10%;
    }
    .section {
        padding-left: 1%;
    }
}

@media screen and (max-width: 414px) {

    #projects{
        width: 200px;
        height: 150px;
        margin-left: 25%;
    }
    .section {
        padding-left: 1%;
    }
}
