body{
    background-color: rgb(235, 234, 234);
}

.name {
    text-align: center;
    color: black;
    font-family: 'PT Mono', monospace;
    font-size: 110px;
    margin-top: 5%;
}

h2{
    font-family: 'PT Mono', monospace;
}

p {
    font-family: 'PT Mono', monospace;
}

#imgPosition {
    padding-left: 35%;
    padding-right: 35%;
}
.headShot {
    width: 350px;
    height: 500px;
    padding-bottom: 10px;
}

@media screen and (max-width: 736px) {

    .name {
        text-align: center;
        font-family: 'PT Mono', monospace;
        font-size: 50px;
        padding: 2%;
    }

    h2{
        font-family: 'PT Mono', monospace;
        text-align: center;
    }

    p {
        font-family: 'PT Mono', monospace;
        text-align: center;
    }

    .headShot {
        width: 150px;
        height: 230px;
        margin-left: 10%;
        padding-bottom: 10px;
    }

}

@media screen and (max-width: 414px) {

    .name {
        text-align: center;
        font-family: 'PT Mono', monospace;
        font-size: 50px;
        padding: 2%;
    }
    
    
    h2{
        font-family: 'PT Mono', monospace;
        text-align: center;
    }

    p {
        font-family: 'PT Mono', monospace;
        text-align: center;
    }

    .headShot {
        width: 200px;
        height: 300px;
        padding-bottom: 10px;
    }
    
}