#linkedIN {
width: 70px;
height: 70px;
}

#gitHub {
    width: 50px;
    height: 50px;
}

#email {
    width: 70px;
    height: 70px;
}

.links {
    margin-left: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
}

@media screen and (max-width: 736px) {

    .links {
        margin-left: 35%;
        padding-top: 2%;
        padding-bottom: 2%;
      }
}

@media screen and (max-width: 414px) {

    .links {
        margin-left: 25%;
        padding-top: 2%;
        padding-bottom: 2%;
      }
}