/* font-family: 'Crimson Text', serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Cinzel Decorative', cursive; */

a {
    color: white;
    font-family: 'Playfair Display SC', serif;
}

#navlink {
    color: black;
}

#navy {
   background-color: white;
   style: none;
   padding: 20px;
   margin-left: 5%;
   margin-right: 5%
    
}

nav li {
    
    display: inline-block;
    margin-left: 20px;
    margin-right: 50px;
    padding-bottom: 25px;
    position: relative;
    background-color: white;
    width: 100%;
}


body {
    background-color: rgb(235, 234, 234);
}


.headshot{
    width: 300px;
    height: 400px;
}
#container {
   color: black;
   margin-left: 5%;
   margin-right: 5%;
    height: 445px;
    font-size: 50%;
    background-color: white;
    padding-top: 1.5%;
    padding-right: 3%;
    padding-left: 3%;
}

.lead {
    padding-top: 30px;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}
.name{
    font-family: 'Cinzel Decorative', cursive; 
    font-size: 90px;
    text-align: center;
    padding-top: 10%;
   
}

h2 {
   /* text-align: center; */
   font-family: 'Playfair Display SC', serif;
}

#projects{
    width: 300px;
    height: 200px;
}
.section {
    padding-left: 5%;
}

@media screen and (max-width: 1000px) {

    
    .lead {
        padding-top: 30px;
        margin-left: 35%;
        font-family: 'Playfair Display SC', serif;
        font-size: 15px;
    }
    .name{
        font-family: 'Cinzel Decorative', cursive; 
        font-size: 60px;
        margin-left: 35%;
        padding-top: 10%;  
    }
    .headshot{
        padding-top: 8%;
        margin-left: 3%;
        width: 300px;
        height: 400px;
    }
}

@media screen and (max-width: 414px) {
    
     body{
        background-color: rgb(235, 234, 234);
     }

    
    
    .headshot{
        padding-top: 8%;
        margin-left: -2%;
        width: 300px;
        height: 400px;
    }
    #container {
        height: 50%;
        
     }
     .lead {
    padding-top: 30px;
    margin-left: 3%;
    font-family: 'Playfair Display SC', serif;
}
.name{
    font-family: 'Cinzel Decorative', cursive; 
    font-size: 40px;
    padding-top: 10%;
    margin-left: 3%;
} 
}